<div class="test_container">

  <div class="test_title">
    <h2>Test Title</h2>
    <h2> <%= @something %> </h2>
  </div>
  <div class="test_status">
    <p>Test Status</p>
  </div>
</div>

<div class="test_container">

  <div class="test_title">
    <h2>Test Title</h2>
  </div>

  <div class="test_status">
    <p>Test Status</p>
  </div>

</div>

<div class="test_container">

  <div class="test_title">
    <h2>Test Title</h2>
  </div>

  <div class="test_status">
    <p>Test Status</p>
  </div>

</div>

<div class="test_container">

  <div class="test_title">
    <h2>Test Title</h2>
  </div>

  <div class="test_status">
    <p>Test Status</p>
  </div>
</div>

<div class="test_container">

  <div class="test_title">
    <h2>Test Title</h2>
  </div>

  <div class="test_status">
    <p>Test Status</p>
  </div>
</div>

<div class="test_container">

  <div class="test_title">
    <h2>Test Title</h2>
  </div>

  <div class="test_status">
    <p>Test Status</p>
  </div>
</div>

<div class="test_container">

  <div class="test_title">
    <h2>Test Title</h2>
  </div>

  <div class="test_status">
    <p>Test Status</p>
  </div>
</div>

<div class="test_container">

  <div class="test_title">
    <h2>Test Title</h2>
  </div>

  <div class="test_status">
    <p>Test Status</p>
  </div>
</div>

<div class="test_container">

  <div class="test_title">
    <h2>Test Title</h2>
  </div>

  <div class="test_status">
    <p>Test Status</p>
  </div>
</div>

<div class="test_container">

  <div class="test_title">
    <h2>Test Title</h2>
  </div>

  <div class="test_status">
    <p>Test Status</p>
  </div>
</div>

<div class="test_container">

  <div class="test_title">
    <h2>Test Title</h2>
  </div>

  <div class="test_status">
    <p>Test Status</p>
  </div>
</div>

<div class="test_container">

  <div class="test_title">
    <h2>Test Title</h2>
  </div>

  <div class="test_status">
    <p>Test Status</p>
  </div>
</div>

<div class="test_container">

  <div class="test_title">
    <h2>Test Title</h2>
  </div>

  <div class="test_status">
    <p>Test Status</p>
  </div>
</div>

<div class="test_container">

  <div class="test_title">
    <h2>Test Title</h2>
  </div>

  <div class="test_status">
    <p>Test Status</p>
  </div>
</div>

<div class="test_container">

  <div class="test_title">
    <h2>Test Title</h2>
  </div>

  <div class="test_status">
    <p>Test Status</p>
  </div>
</div>

<div class="test_container">

  <div class="test_title">
    <h2>Test Title</h2>
  </div>

  <div class="test_status">
    <p>Test Status</p>
  </div>
</div>

<div class="test_container">

  <div class="test_title">
    <h2>Test Title</h2>
  </div>

  <div class="test_status">
    <p>Test Status</p>
  </div>
</div>

<div class="test_container">

  <div class="test_title">
    <h2>Test Title</h2>
  </div>

  <div class="test_status">
    <p>Test Status</p>
  </div>
</div>

<div class="test_container">

  <div class="test_title">
    <h2>Test Title</h2>
  </div>

  <div class="test_status">
    <p>Test Status</p>
  </div>
</div>

<div class="test_container">

  <div class="test_title">
    <h2>Test Title</h2>
  </div>

  <div class="test_status">
    <p>Test Status</p>
  </div>
</div>

